<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlixNTix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FlixNTix.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fs-1 text-decoration-underline" asp-area="" asp-controller="Movie" asp-action="Index">FlixN'Tix</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light fs-5" asp-area="" asp-controller="Movie" asp-action="Index"><i class="bi bi-film"></i> Movies</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-gear"></i> Management
                            </a>

                            <div class="dropdown-menu bg-secondary border-white" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item fw-bold" asp-controller="Theater" asp-action="Index"><i class="bi bi-camera-reels"></i> Theaters</a>
                                <a class="dropdown-item fw-bold" asp-controller="Producer" asp-action="Index"><i class="bi bi-headset"></i> Producers</a>
                                <a class="dropdown-item fw-bold" asp-controller="Actor" asp-action="Index"><i class="bi bi-person-square"></i> Actors</a>
                            </div>
                        </li>
                    </ul>
                    <form class="input-group-text m-2" asp-controller="Movie" asp-action="Filter">
                        <input name="searchString" type="text" class="form-control" placeholder="Search for a movie...">
                        <button class="btn btn-secondary btn-outline-white float-sm-end" type="submit"><i class="bi bi-search "></i></button> 
                    </form>
                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>
                    @*@await Html.RenderPartialAsync("_Identity")*@
                        @*below is another way of doing the above*@
                    <partial name ="_Identity.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="position:fixed; left: 0; bottom: 0; width: 100%; footer text-white ">
        <div class="container-fluid">
            &copy; 2022 - FlixNTix - <a asp-area="" asp-controller="Movie" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
