<div class="row text-center">
    <div class="col-md-6 offset-3">
    <h1 class="text-warning">You have reached the end of the internet. Either you are trying to acces that which you cannot, 
        or your search yielded no results. Reflect upon your journey and the choices you've made. What have you learned? Let us go
        back to the beginning and try again, shall we?</h1>
    <hr />
    <a class="btn btn-lg btn-outline-secondary text-white" asp-controller="Movie" asp-action="Index">Restart Journey</a>
    </div>
</div>