<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order Completed Successfully!</h2>
        <p>You Can Check All Your Orders In the 'Orders' Section Of Your Profile</p>
        <hr />
        <p>Thank You For Your Business! Have A Great Day!</p>
    </div>
</div>
