<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>YOU ... SHALL ... NOT ... PASS!!!</h2>
        <h4>Silly For Trying, You Are!</h4>
        <h4>You Are Too Old For Narnia. Please Exit The Wardrobe.</h4>
        <hr />
        <p>
            <a asp-controller="Movie" asp-action="Index" class="btn btn-outline-black">
                <i class="bi bi-house fs-1"></i> 
            </a>
        </p>
    </div>
</div>
