<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Registration Completed Successfully</h2>
        <p>You Can Now Log In To Your Account Using Your Credentials</p>
        <hr />
        <p>Thank You And Welcome!</p>
    </div>
</div>
